.header {
  margin-top: 5%;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 4%;
  margin-left: 42%;
}

.subheader {
  margin-top: 1%;
  font-size: 26px;
  margin-bottom: 3%;
  margin-left: 27%;
}

.currlocator {
  background-color: #46ad5c;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  width: 70%;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 48%;
}

.pinlocatordiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.locator button {
  width: auto;
  padding: auto;
}

.pinlocatorlbl,
.pinlocatorinp {
  margin-right: 1%;
}
.pinlocatorlbl {
  font-size: 26px;
}

.button {
  background-color: #46ad5c;
  width: 350px;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.output {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
  margin-top: 5%;
  margin-left: 0%;
}

.output td,
.output tr {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}

.output tr:nth-child(even) {
  background-color: #d4f8d3;
}

.output th {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  background-color: #d4f8d3;
  border: 1px solid black;
}
.requests {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
  /* margin-top: 2%; */
  margin-left: 20%;
}

.requests td,
.requests tr {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}
.requests tr a {
  text-decoration: none;
  color: black;
  border: none;
  outline: 0;
}
.requests tr:nth-child(even) {
  background-color: #d4f8d3;
}

.requests th {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  background-color: #d4f8d3;
  border: 1px solid black;
}
