.popupcontainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}
.popupbody {
  position: absolute;
  left: 30%;
  right: 30%;
  /* bottom: 20%;*/
  top: 5%;
  height: max-content;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  border-color: black;
  background: #daeadd;
  box-shadow: rgba(6, 140, 46, 0.35) 0px 5px 15px;
  font: 20px;
}

.content {
  font-size: 30px;
  padding: 10%;
  font-family: "Calibri";
}

.popupcontents{
    margin-top: 10%;
    margin-left: 4%;
}
.modelname, .category, .condition, .images{
    display: flex;
    /* justify-content: space-around; */
    /* padding-right: 2%; */
    /* padding-bottom: %; */
    width: 80%;
    margin-top: 5%;
}

 label{
    width: 250px;
    font-size: 22px;
    padding-right: 4%;
    color: black;
    /* font-family: "Literata"; */
    /* font-style: italic; */
}

button {
  margin: 5%;
  background-color: #46ad5c;
  border: #46ad5c;
  padding: 15px;
  width: 25%;
}

button:hover {
  background-color: #0a8b31;
}

select{
    height: 35px;
    width: 200px;
    font-size: 18px;
}

input{
    height: 35px;
    width: 200px;
}