/* Home.module.css */

.homewrap {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/indiaBG.jpg");
  background-size: cover;
  z-index: 1;
}

.homewrap::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  filter: blur(5px);
  z-index: 0;
}

.container1 {
  display: flex;
  margin-top: 5px;
  z-index: 1;
}

.container2 {
  display: flex;
  margin-top: 70px;
  margin-left: 30%;
  z-index: 1;
  align-items: center;
}

.container3 {
  display: flex;
  margin-left: 7%;
  z-index: 1;
  align-items: center;
}

.first {
  font-size: 40px;
  font-weight: 700;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.firsttext {
  padding-bottom: 10%;
  text-shadow: 0 0 3px #00ff1e3d, 0 0 5px #0073ff7c;
}

.subtitle {
  color: #5b9739;
  width: 600px;
  font-family:'Times New Roman', Times, serif;
}

.second {
  flex: 1;
  height: 100vh;
  margin: 0% 5%;
}

.pageLogo {
  height: 120px;
  width: 320px;
  opacity: 1; /* Adjusted opacity property */
}

.govtLogo {
  height: 120px;
  width: 620px;
  z-index: 1;
  margin-top: 5px; 
  margin-bottom: 40px;
}

.statlogo {
  height: 150px;
  width: 450px;
  z-index: 1;
  /* margin-top: 5px; Adjusted margin-top for vertical alignment */
}

.image {
  display: flex;
  align-items: center;
  color: aliceblue;
}

.stata{
  display: flex;
  align-items: center;
  margin-bottom:40px;
}
