/* Home.module.css */

.homewrap {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/indiaBG.jpg");
  background-size: cover;
  z-index: 1;
}

.homewrap::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  filter: blur(5px);
  z-index: 0;
}

.container1 {
  display: flex;
  margin-top: 5px;
  z-index: 1;
}

.container2 {
  display: flex;
  margin-top: 70px;
  margin-left: 30%;
  z-index: 1;
  align-items: center;
}

.first {
  font-size: 30px;
  font-weight: 700;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.firsttext {
  padding-bottom: 30%;
}

.subtitle {
  color: #5b9739;
  font-family:'Times New Roman', Times, serif;
}

.second {
  flex: 1;
  height: 100vh;
}

.pageLogo {
  height: 120px;
  width: 320px;
  opacity: 1; /* Adjusted opacity property */
}

.govtLogo {
  height: 120px;
  width: 620px;
  z-index: 1;
  margin-top: 20px; /* Adjusted margin-top for vertical alignment */
}

.image {
  display: flex;
  align-items: center;
  color: aliceblue;
}
